.core {
  background-color: #f8ccbd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  height: 44px;
  cursor: pointer;
  border: 1px solid #ED805B;
  color: #1D1D1F;
}