.body-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.body-container .section_statistics {
  display: flex;
  gap: 20px;
}
.body-container .section_statistics .statistics_block {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 15px 15px 30px 15px;
  border-radius: 10px;
}
.body-container .section_statistics .statistics_block .statistics_percentageText-block {
  text-align: end;
}
.body-container .section_statistics .statistics_block .statistics_percentageText-block p {
  color: #6CAFC6;
  font: 400 18px "Open Sans";
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount {
  display: flex;
  align-items: center;
  gap: 10px;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E6EFF3;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img img {
  width: 26px;
  height: 26px;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount p {
  font: 400 32px "Open Sans";
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_bottomText-block {
  padding-left: 46px;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_bottomText-block p {
  font: 400 14px "Open Sans";
}
.body-container .section_statistics .statistics_block:nth-child(2) .statistics_percentageText-block p {
  color: #BE8A6C;
}
.body-container .section_statistics .statistics_block:nth-child(2) .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  background: #FFE5D7;
}
.body-container .section_statistics .statistics_block:nth-child(3) .statistics_percentageText-block p {
  color: #49AB3A;
}
.body-container .section_statistics .statistics_block:nth-child(3) .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  background: rgba(101, 228, 82, 0.537254902);
}
.body-container .section_statistics .statistics_block:nth-child(4) .statistics_percentageText-block p {
  color: #EF4D56;
}
.body-container .section_statistics .statistics_block:nth-child(4) .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  background: rgba(237, 88, 96, 0.3725490196);
}
.body-container .section_lineDiagram {
  gap: 20px;
  display: flex;
}
.body-container .section_lineDiagram .section_CurrentRevenueCard {
  flex-basis: 40%;
  min-width: 350px;
}
.body-container .section_lineDiagram .section_BalanceOverviewChart {
  width: 100%;
}
.body-container .section_PopularProducts {
  display: flex;
  gap: 20px;
}
.body-container .section_PopularProducts .section_PopularProductsTable {
  width: 100%;
}
.body-container .section_PopularProducts .section_DonutChart {
  flex-basis: 40%;
  min-width: 350px;
}

.MuiChartsGrid-line {
  stroke-dasharray: 4 4;
  stroke: #CBD5E1;
  stroke-width: 1;
}/*# sourceMappingURL=D-Agent-Dashboard.css.map */