$error: #EF4D56;
$warning: #EDCE54;
$success: #49AB3A;
$info: #6CAFC6;
$grey: #92A1A8;

.wrapper {
  padding: 24px 40px 24px;
  width: 100%;
  max-width: 1234px;

  & > section {
    padding: 32px 24px 24px 24px;
    border-radius: 8px;
    background-color: #E6EFF3;
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #1D1D1F;
    padding-bottom: 16px;
    font-family: "PT serif", serif;
  }
}

.top {
  background-color: #fff;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;


  &__details {
    display: flex;
    column-gap: 16px;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #1D1D1F;
    }

    &_grey {
      color: $grey !important;
    }
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  padding-top: 16px;
  row-gap: 16px;

  & > *:nth-child(1) {
    flex: 1;
  }

  & > *:nth-child(2) {
    flex: 0 0 auto;
  }

  & > *:nth-child(3) {
    flex-basis: 100%;
  }
}

.description {
  padding: 24px 24px 16px 24px;
  background-color: #fff;
  border-radius: 8px;
  width: 714px;

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1D1D1F;
    padding-bottom: 16px;
  }

  &__files {
    display: flex;
    column-gap: 16px;

    & > div {
      width: 177px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 16px;
      cursor: pointer;
      background-color: #FFE5D7;
      border-radius: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #1D1D1F;


      & > div:first-child {
        width: 36px;
        height: 36px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }

      & > div:nth-child(2) {
        max-width: 65px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &_grey {
      color: $grey;
    }
  }
}

.details {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  min-width: 376px;

  &__inner {
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #1D1D1F;
    }

    & > div:not(:last-child) {
      padding-bottom: 16px;
    }
  }
}

.comments {
  padding: 24px 32px 24px 12px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 714px;
  width: 100%;
  color: #1D1D1F;

  h3 {
    padding-left: 12px;
  }

  &__el {
    width: 100%;
    border-radius: 2px 8px 8px 2px;
    padding: 8px 8px 8px 12px;
    color: #1D1D1F;
    position: relative;
    margin-bottom: 8px;

    & > div:first-child {
      display: flex;
      align-items: center;
      column-gap: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      padding-bottom: 11px;

      img {
        width: 30px;
        height: 30px;
      }

      & > span:last-child {
        font-size: 12px;
        color: #92A1A8;
      }
    }

    & > div:nth-child(2) {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #1D1D1F;
      padding-bottom: 12px;
      margin-left: 38px;
    }

    &-reply {
      width: 75px;
      height: 32px;
      border: 1px solid #ED805B;
      background: #ffccbc;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      color: #1D1D1F;
      cursor: pointer;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      margin-left: 38px;
    }
  }

  &__el:first-of-type {
    background-color: #FFE5D7;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: #EEC497;
      border-radius: 2px;
    }
  }

  &__el:not(:first-of-type) {
    margin-bottom: 24px;
  }

  &__leave {
    margin: 16px 0 16px 12px;
  }

  &__input {
    width: 100%;
    min-height: 104px;
    padding: 16px;
    font-size: 18px;
    line-height: 150%;
    color: #1D1D1F;
    background-color: #FFFFFF;
    border: 1px solid #C6D4DB;
    border-radius: 8px;
    resize: vertical;
    outline: none;

    &::placeholder {
      color: #92A1A8;
    }

    &:focus {
      border-color: #C6D4DB;
      box-shadow: 0 0 0 2px rgba(198, 212, 219, 0.5);
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    align-items: center;
  }
}
