.wrapper {
  padding: 24px 40px 24px;
  width: 100%;
  max-width: 1234px;
}
.wrapper > section {
  padding: 32px 24px 24px 24px;
  border-radius: 8px;
  background-color: #E6EFF3;
}
.wrapper h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #1D1D1F;
  padding-bottom: 16px;
  font-family: "PT serif", serif;
}

.top {
  background-color: #fff;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}
.top__details {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.top__details span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1D1D1F;
}
.top__details_grey {
  color: #92A1A8 !important;
}

.main {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 16px;
  row-gap: 16px;
}
.main > *:nth-child(1) {
  flex: 1;
}
.main > *:nth-child(2) {
  flex: 0 0 auto;
}
.main > *:nth-child(3) {
  flex-basis: 100%;
}

.description {
  padding: 24px 24px 16px 24px;
  background-color: #fff;
  border-radius: 8px;
  width: 714px;
}
.description__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1D1D1F;
  padding-bottom: 16px;
}
.description__files {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.description__files > div {
  width: 177px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 16px;
  cursor: pointer;
  background-color: #FFE5D7;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1D1D1F;
}
.description__files > div > div:first-child {
  width: 36px;
  height: 36px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.description__files > div > div:nth-child(2) {
  max-width: 65px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.description__files_grey {
  color: #92A1A8;
}

.details {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  min-width: 376px;
}
.details__inner > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1D1D1F;
}
.details__inner > div:not(:last-child) {
  padding-bottom: 16px;
}

.comments {
  padding: 24px 32px 24px 12px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 714px;
  width: 100%;
  color: #1D1D1F;
}
.comments h3 {
  padding-left: 12px;
}
.comments__el {
  width: 100%;
  border-radius: 2px 8px 8px 2px;
  padding: 8px 8px 8px 12px;
  color: #1D1D1F;
  position: relative;
  margin-bottom: 8px;
}
.comments__el > div:first-child {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding-bottom: 11px;
}
.comments__el > div:first-child img {
  width: 30px;
  height: 30px;
}
.comments__el > div:first-child > span:last-child {
  font-size: 12px;
  color: #92A1A8;
}
.comments__el > div:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1D1D1F;
  padding-bottom: 12px;
  margin-left: 38px;
}
.comments__el-reply {
  width: 75px;
  height: 32px;
  border: 1px solid #ED805B;
  background: #ffccbc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #1D1D1F;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-left: 38px;
}
.comments__el:first-of-type {
  background-color: #FFE5D7;
}
.comments__el:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #EEC497;
  border-radius: 2px;
}
.comments__el:not(:first-of-type) {
  margin-bottom: 24px;
}
.comments__leave {
  margin: 16px 0 16px 12px;
}
.comments__input {
  width: 100%;
  min-height: 104px;
  padding: 16px;
  font-size: 18px;
  line-height: 150%;
  color: #1D1D1F;
  background-color: #FFFFFF;
  border: 1px solid #C6D4DB;
  border-radius: 8px;
  resize: vertical;
  outline: none;
}
.comments__input::-moz-placeholder {
  color: #92A1A8;
}
.comments__input::placeholder {
  color: #92A1A8;
}
.comments__input:focus {
  border-color: #C6D4DB;
  box-shadow: 0 0 0 2px rgba(198, 212, 219, 0.5);
}
.comments__bottom {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}/*# sourceMappingURL=SupportTicketsChat.module.css.map */