.catalog
    background: #fff
    border-radius: 8px
    width: 100%
    &__container
        padding: 24px
        display: flex
        gap: 32px
    .clothes
        &__wrraper
            display: flex
            flex-direction: column
            gap: 16px
        &__title 
            margin-bottom: 32px
            p 
                font: 400 32px 'PT Serif'
        &__price 
            margin-bottom: 18px
            p 
                font: 700 24px 'Open Sans'
        &__size, &__color , &__description
            display: flex
            flex-direction: column
            gap: 16px
        &__size
            display: flex
            flex-direction: column
            gap: 16px
            p 
                font: 400 18px 'Open Sans'
                span
                    color: grey

        &__size--active
            background: #EBEBED
        &__size-block
            display: flex
            gap: 10px
            div
                width: 44px
                height: 44px
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid #92A1A8
                border-radius: 10px
                color: black


        &__color 
            p 
                font: 400 18px 'Open Sans'
                span 
                    color: grey
        &__color-block
            display: flex
            gap: 10px
            div
                width: 20px
                height: 20px
                border-radius: 999px
                color: #000
                padding: 17px
            &--black
                background: black
            &--white
                background: grey
            &--active
                box-shadow: 0 0 0 2px white, 0 0 0 4px grey    

            
    
        &__availability 
            p 
                font: 400 18px 'Open Sans'
            span
                color: grey
        &__quantity 
            display: flex
            gap: 32px
            align-items: center
            p 
                font: 400 18px 'Open Sans'
        &__quantity-input
            display: flex
            align-items: center
            border: 1px solid grey
            justify-content: space-between
            padding: 10px
            width: 100px
            border-radius: 10px
            &--hover:hover
                cursor: pointer


        &__description--dropDown
            p
                font: 400 14px 'Open Sans'
                line-height: 150%
        &__description--title
            display: flex
            gap: 16px
            align-items: center
            p
                font: 400 18px 'Open Sans'

            

        &__arrow
            width: 20px
            height: 20px
            cursor: pointer
            transition: transform 0.3s ease
            transform: rotate(-90deg)
            &--open
                transform: rotate(0deg)