

:global(.MuiTabs-indicator)
  background-color: #ED805B !important
  bottom: -1px !important
:global(.MuiTabs-root)
  overflow: visible !important



  

  
.DashBoardBlock
  display: flex
  justify-content: space-between
  margin-bottom: 20px
  border-radius: 15px

.profileSettingContainer
  display: flex
  flex-direction: row
  justify-content: center
  &__block
    max-width: 1234px
    width: 100%
    padding: 24px 40px 24px
  &__wrapper
    padding: 32px 24px 24px 24px 
    background-color: #E6EFF3
    border-radius: 8px
    display: flex
    flex-direction: column
    gap: 16px
  p, h3,h2
    color: black
