.DashBoardBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 15px;
}

.MuiPaper-root.MuiCard-root {
  box-shadow: none;
  height: 100%;
}
.MuiPaper-root.MuiCard-root.css-zvv1z9-MuiPaper-root-MuiCard-root {
  max-width: 600px;
  width: auto !important;
}
.MuiPaper-root.MuiCard-root.css-2a28xx-MuiPaper-root-MuiCard-root, .MuiPaper-root.MuiCard-root.css-1ip3t63-MuiPaper-root-MuiCard-root {
  width: 100% !important;
  height: 100% !important;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.recharts-wrapper {
  height: auto !important;
}

.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
  justify-content: space-between;
}

.MuiInputBase-root {
  border-bottom: 1px solid #1D1D1F;
}

.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}

.MuiAppBar-root {
  background-color: white !important;
}
@media (max-width: 600px) {
  .MuiAppBar-root {
    display: block !important;
  }
}

.MuiTypography-root {
  border-bottom: 1px solid black;
}
.MuiTypography-root.css-5lnhk4-MuiTypography-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MuiTypography-root.css-8r2upb-MuiTypography-root, .MuiTypography-root.css-4dddof-MuiTypography-root {
  font: normal 400 32px "Open Sans" !important;
}
.MuiTypography-root.css-1a1whku-MuiTypography-root {
  text-align: center;
}

.MuiFormControl-root {
  background: white;
  max-width: 69px;
  border-radius: 5px;
}

.MuiChartsLegend-root {
  display: none !important;
}

.MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-line,
.MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-tick,
.MuiChartsAxis-root-MuiChartsXAxis-root .MuiChartsAxis-line,
.MuiChartsAxis-root-MuiChartsXAxis-root .MuiChartsAxis-tick {
  display: none;
}

.MuiChip-root {
  padding: 15px !important;
  width: 100%;
}

.MuiSvgIcon-root {
  fill: rgb(0, 0, 0) !important;
  width: 20px !important;
  height: 20px !important;
}

.recharts-cartesian-axis-line, .MuiChartsAxis-line, .MuiChartsAxis-tick,
.recharts-cartesian-axis-tick-line {
  display: none !important;
}

.MuiDrawer-docked .MuiDrawer-paper {
  padding: 20px 25px 0 20px;
  width: 280px !important;
}
@media (max-width: 600px) {
  .MuiDrawer-docked .MuiDrawer-paper {
    width: 60vw !important;
  }
}
@media (max-width: 425px) {
  .MuiDrawer-docked .MuiDrawer-paper {
    width: 100vw !important;
  }
}

.text {
  white-space: normal !important;
}

.css-0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.body-container .recharts-wrapper {
  height: 300px !important;
  max-height: 500px !important;
}
.body-container p, .body-container h3, .body-container h2 {
  color: black;
}
.body-container .section_statistics {
  display: flex;
  gap: 20px;
}
.body-container .section_statistics .statistics_block {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 15px 15px 30px 15px;
  border-radius: 10px;
}
.body-container .section_statistics .statistics_block .statistics_percentageText-block {
  text-align: end;
}
.body-container .section_statistics .statistics_block .statistics_percentageText-block p {
  color: #6CAFC6;
  font: 400 18px "Open Sans";
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount {
  display: flex;
  align-items: center;
  gap: 10px;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E6EFF3;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img img {
  width: 26px;
  height: 26px;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_wrapperCount p {
  font: 400 32px "Open Sans";
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_bottomText-block {
  padding-left: 46px;
}
.body-container .section_statistics .statistics_block .statistics_countPeople-block .statistics_bottomText-block p {
  color: #92A1A8;
  font: 400 14px "Open Sans";
}
.body-container .section_statistics .statistics_block:nth-child(2) .statistics_percentageText-block p {
  color: #BE8A6C;
}
.body-container .section_statistics .statistics_block:nth-child(2) .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  background: #FFE5D7;
}
.body-container .section_statistics .statistics_block:nth-child(3) .statistics_percentageText-block p {
  color: #49AB3A;
}
.body-container .section_statistics .statistics_block:nth-child(3) .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  background: rgba(101, 228, 82, 0.537254902);
}
.body-container .section_statistics .statistics_block:nth-child(4) .statistics_percentageText-block p {
  color: #EF4D56;
}
.body-container .section_statistics .statistics_block:nth-child(4) .statistics_countPeople-block .statistics_wrapperCount .statistics_block-img {
  background: rgba(237, 88, 96, 0.3725490196);
}
.body-container .section_lineDiagram {
  gap: 20px;
  display: flex;
}
.body-container .section_lineDiagram .section_CurrentRevenueCard {
  flex-basis: 40%;
  min-width: 350px;
}
.body-container .section_lineDiagram .section_BalanceOverviewChart {
  width: 100%;
}
.body-container .section_PopularProducts {
  display: flex;
  gap: 20px;
}
.body-container .section_PopularProducts .section_PopularProductsTable {
  width: 100%;
}
.body-container .section_PopularProducts .section_DonutChart {
  flex-basis: 40%;
  min-width: 350px;
}

.MuiChartsGrid-line {
  stroke-dasharray: 4 4;
  stroke: #CBD5E1;
  stroke-width: 1;
}/*# sourceMappingURL=D-Admin-Dashboard.css.map */