
.comments 
  background-color: #fff
  border-radius: 8px
  max-width: 714px
  width: 100%
  color: #1D1D1F
  &__header
    display: flex
    align-items: center
    margin-bottom: 5px
    gap: 8px
    width: 300px
    justify-content: space-between
  &__headerTitle
    display: flex
    gap: 10px
    margin-bottom: 5px
    align-items: center

    .dateTime
        font-size: 12px
        color: #92A1A8
  &__content
    margin-left: 38px
    margin-bottom: 16px
  &__clothes
    margin-left: 38px
    margin-bottom: 16px
    display: flex
    gap: 16px
  &__star
    margin-bottom: 16px
    

  h3 
    padding-left: 12px
  

  &__el 
    width: 100%
    border-radius: 2px 8px 8px 2px
    color: #1D1D1F
    position: relative
    margin-bottom: 8px

    & > div:first-child 
      display: flex
    //   align-items: center
      column-gap: 8px
      font-weight: 400
      font-size: 14px
      line-height: 150%
      padding-bottom: 11px

      img 
        width: 30px
        height: 30px
      

      & > span:last-child 
        font-size: 12px
        color: #92A1A8
      
    

    & > div:nth-child(2) 
      font-weight: 400
      font-size: 14px
      line-height: 150%
      color: #1D1D1F
      margin-left: 38px
    

    &-reply 
      width: 75px
      height: 32px
      border: 1px solid #ED805B
      background: #ffccbc
      border-radius: 8px
      display: flex
      align-items: center
      justify-content: center
      gap: 4px
      color: #1D1D1F
      cursor: pointer
      font-weight: 400
      font-size: 12px
      line-height: 150%
      margin-left: 38px
    
  

  &__el:first-of-type 
    // background-color: #FFE5D7

    // &::before 
    //   content: ""
    //   position: absolute
    //   top: 0
    //   left: 0
    //   width: 4px
    //   height: 100%
    //   background-color: #EEC497
    //   border-radius: 2px
    
  

  &__el:not(:first-of-type) 
    margin-bottom: 24px
  

  &__leave 
    margin: 16px 0 16px 12px
  
  &__input 
    width: 100%
    min-height: 104px
    padding: 16px
    font-size: 18px
    line-height: 150%
    color: #1D1D1F
    background-color: #FFFFFF
    border: 1px solid #C6D4DB
    border-radius: 8px
    resize: vertical
    outline: none

    &::placeholder 
      color: #92A1A8
    

    &:focus 
      border-color: #C6D4DB
      box-shadow: 0 0 0 2px rgba(198, 212, 219, 0.5)
    
  

  &__bottom 
    display: flex
    justify-content: flex-end
    column-gap: 16px
    align-items: center


